html{
    box-sizing: border-box;
}

*, *:before, *:aftrer {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 400px;
    background-color: black;
    color: white;
}

.screen{
    text-align: right;
    padding: 20px 4px;
    font-size: 40px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
}
.calc-button {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
    margin-bottom: 0.5%;
}
.calc-button:hover {
    background-color:#ebebeb ;
}
.calc-button:active {
    background-color:#bbbcbe;
}

.dbl {
    flex-basis: 49.7%;
}
.trpl{
    flex-basis: 74.8%;
}
.calc-button:last-child{
    background-color: #df974c;
    color: black;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}
.calc-button:last-child:active {
    background-color: #dd8d37;
}