* {
    margin: 0em;
    padding: 0em;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(234, 236, 238);
}

.image {
    display: flex;
    align-self: flex-end;
}

#part1 {
    width: 100%;
    background-image: url('/assets/photo-1576915743979-8fca27682012.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 1;
    display: flex;
    padding-bottom: 50em;
    /* padding: em; */
    /* justify-content: space-around; */
}

.lists {
    background-color: rgb(211, 212, 212);
    width: 15%;
    border-radius: 0.5vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lists h1 {
    align-self: flex-start;
    margin: 1em;
}

#card-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1em;
    align-items: center;
    /* background-color: white; */
    font-size: 1.5em;
}

#card-container div {
    width : 90%;
    background : white;
    color : black;
    padding : 0.5em;
    margin : 0.5em;
    display: flex;
    border-radius: 0.5vw;
    justify-content: space-between;
}

#card-container div:hover{
        background-color: rgb(238, 238, 238);
        opacity: 0.2em;
}

#card-container .dlt-button, #modal-card-content .dlt-button{
        background-color: transparent;
        color: red;
        width: 8%;
        border: none;
        border-radius: 2vw;
        /* margin: 1em; */
        align-self: flex-end;
        display: flex;
        align-items: center;
        /* padding: 0.2em; */
}
#card-container .dlt-button:hover, #modal-card-content .dlt-button:hover {
    background-color: red;
    color: white;
}

/* #add-item-text-area {
    width: 70%;
    align-self: center;
    margin: 0.5em;
    text-align: center;
} */

#add-item-text-area, input{
    font-size: 1.2em;
    width: 70%;
    align-self: center;
    /* margin: 0.5em; */
    display: flex;
    border-radius: 0.5vw;
    border: none;
    text-align: center;
    flex-direction: column;  
}

#add-item-text-area input {
    padding: 1em;
    align-self: flex-end;
}

button {
    background-color: rgb(15, 223, 15);
    color: black;
    font-weight: bold;
    width: 50%;
    border: none;
    border-radius: 0.5vw;
    margin: 1em;
    align-self: flex-end;
    padding: 0.5em;
}

button:hover{
    background-color: rgb(86, 156, 86);
}

.modal-header {
    display: flex;
    justify-content: flex-start;
}

.checklist {
    display: flex;
    justify-content: space-between;
}

#modal-footer {
    display: flex;
}
